<div class="wrapper">
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                {if="!empty($sucess)"}
                    <div class="alert">
                        <div class="alert alert-success alert-dismissible shadow">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h5><i class="icon fas fa-check"></i> {$sucess}</h5>
                        </div>
                    </div>
                    {/if}
                    {if="!empty($error)"}
                    <div class="alert">
                        <div class="alert alert-danger alert-dismissible shadow">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h5><i class="icon fas fa-ban"></i> {$error}</h5>
                        </div>
                    </div>
                    {/if}
                    {if="!empty($warning)"}
                    <div class="alert">
                        <div class="alert alert-warning alert-dismissible shadow">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h5><i class="icon fas fa-exclamation-triangle"></i> {$warning}</h5>
                        </div>
                    </div>
                    {/if}
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Cadastro de clientes</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/">Página Inicial</a></li>
                            <li class="breadcrumb-item active">Cadastro de clientes</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="card shadow" style="padding-bottom: 20px;">
                    <form action="" method="POST" name="clientes">
                        <div class="card-body">
                            <div class="row">
                                <!-- LADO ESQUERDO -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label"> Nome <span class='text-danger'> * </span></label>                                
                                        <div class="input-group">
                                            <input id="nome" type='text' placeholder="Digite o Nome" name="nome" maxlength="30" required class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label"> CPF <span class='text-danger'> * </span></label>                                
                                        <div class="input-group">
                                            <input id="cpf" type='text' placeholder="Digite o CPF" name="cpf" maxlength="14" required class="form-control">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="control-label"> CEP <span class="text-danger"> * </span></label>                                
                                        <div class="input-group">
                                            <input id="cep" onblur="buscaCEP(this.value)" name="cep" type='text' placeholder="CEP" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label"> Endereço <span class="text-danger"> * </span></label>                                
                                        <div class="input-group">
                                            <input type='text' id="endereco-cep" placeholder="Endereço" name="endereco" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label"> Número <span class="text-danger"> * </span></label>                                
                                        <div class="input-group">
                                            <input type='text' id="numero" placeholder="Número residencial" name="numero" class="form-control">
                                        </div>
                                    </div>

                                </div>
                                <!-- LADO DIREITO -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label"> Celular <span class="text-danger"> * </span></label>                                
                                        <div class="input-group">
                                            <input id="celular" type='text' placeholder="Digite o número de celular" name="celular" maxlength="15" required class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label"> Descrição </label>                                
                                        <div class="input-group">
                                            <input type='text' placeholder="Descrição" name="descricao" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label"> Bairro <span class="text-danger"> * </span></label>                                
                                        <div class="input-group">
                                            <input id="bairro" type='text' placeholder="bairro" name="bairro" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label"> Cidade <span class="text-danger"> * </span></label>                                
                                        <div class="input-group">
                                            <input id="cidade" type='text' placeholder="Descrição" name="cidade" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label"> Estado <span class="text-danger"> * </span></label>                                
                                        <div class="input-group">
                                            <input id="estado" type='text' placeholder="Descrição" name="estado" class="form-control">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-danger"><a style="color: white;" href="/">Retornar</a></button>
                            <button type="submit" id="btn-submit" class="btn btn-success">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>