<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Lista de Clientes</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Página Inicial</a></li>
                        <li class="breadcrumb-item active">Lista de Clientes</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    {if="!empty($sucess)"}
                    <div class="alert">
                        <div class="alert alert-success alert-dismissible shadow">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h5><i class="icon fas fa-check"></i> {$sucess}</h5>
                        </div>
                    </div>
                    {/if}
                    {if="!empty($error)"}
                    <div class="alert">
                        <div class="alert alert-danger alert-dismissible shadow">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h5><i class="icon fas fa-ban"></i> {$error}</h5>
                        </div>
                    </div>
                    {/if}
                    {if="!empty($warning)"}
                    <div class="alert">
                        <div class="alert alert-warning alert-dismissible shadow">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h5><i class="icon fas fa-exclamation-triangle"></i> {$warning}</h5>
                        </div>
                    </div>
                    {/if}
                    <div class="card shadow">
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover dataTable ftr-inline" aria-describedby="example2_info">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>CPF</th>
                                        <th>Celular</th>
                                        <th>Detalhes</th>
                                    </tr>
                                </thead>
                                <tbody id="tabela-busca" name="tabela-busca">
                                    {loop="$clientes"}
                                    <tr class="linha-expansivel">
                                        <td>{$value.clientes_nome}</td>
                                        <td>{$value.clientes_cpf}</td>
                                        <td>{$value.clientes_celular}</td>
                                        <td class="d-flex justify-content-center">
                                            <button onclick="modalClientData('{$value.clientes_nome}', '{$value.clientes_celular}', '{$value.clientes_cpf}', '{$value.clientes_cep}', '{$value.clientes_estado}', '{$value.clientes_cidade}', '{$value.clientes_bairro}', '{$value.clientes_endereco}', '{$value.clientes_numero}', '{$value.clientes_descricao}')" class="btn btn-info btn-sm">
                                                <i class="fas fa-user"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    {/loop}
                                </tbody>
                            </table>
                              <!-- MODAL DADOS CADASTRAIS -->
                            <div class="modal fade" id="modalClientData">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="card-title">Dados cadastrais</h1>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post">
                                                <input onclick="habilitar(this.checked)" id="att" type="checkbox">
                                                <label for="att">Atualizar dados</label>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="nome">Nome</label>
                                                            <input id="nome" name="nome" type="text" value="" disabled class="form-control form-control-sm">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="cpf">CPF</label>
                                                            <input id="cpf" name="cpf" type="text" value="" disabled class="form-control form-control-sm">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="estado">Estado</label>
                                                            <input id="estado" name="estado" type="text" value="" disabled class="form-control form-control-sm">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="bairro">Bairro</label>
                                                            <input id="bairro" name="bairro" type="text" value="" disabled class="form-control form-control-sm">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="numero">Número</label>
                                                            <input id="numero" name="numero" type="text" value="" disabled class="form-control form-control-sm">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="celular">Celular</label>
                                                            <input id="celular" name="celular" type="text" value="" disabled class="form-control form-control-sm">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="cep">CEP</label>
                                                            <input id="cep" name="cep" type="text" value="" disabled class="form-control form-control-sm">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="cidade">Cidade</label>
                                                            <input id="cidade" name="cidade" type="text" value="" disabled class="form-control form-control-sm">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="endereco">Endereco</label>
                                                            <input id="endereco" name="endereco" type="text" value="" disabled class="form-control form-control-sm">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="descricao">Descrição</label>
                                                            <input id="descricao" name="descricao" type="text" value="" disabled class="form-control form-control-sm">
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>        
                                        <div class="card-footer">
                                            <button id="btn-submit" class="btn btn-success btn-block btn-sm">Atualizar</button>
                                        </div>                           
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
function habilitar(valor)
{
    const elementos = document.querySelectorAll('.form-control.form-control-sm');

    if(valor) {

        elementos.forEach((elemento) => {
            elemento.removeAttribute('disabled');
        });

    } else {

        elementos.forEach((elemento) => {
            elemento.setAttribute('disabled', true);
        });
    }
}
</script>
