<div class="sidebar">
    <div class="overlay-wrapper" id="loader" style="display: none;">
        <div class="overlay">
        </div>
    </div>
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar" data-widget="treeview" role="menu" data-accordion="false">
            <!-- CADASTRO  -->
            <li class="nav-item bg-teal">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-plus"></i>
                    <p>
                        Cadastro
                        <i class="right fas fa-angle-right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview bg-dark">
                    <li class="nav-item">
                        <a href="/client/register" class="nav-link">
                            <i class="nav-icon fas fa-user-plus"></i>
                            <p>Cadastrar clientes</p>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- LISTAS -->
            <li class="nav-item bg-red">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-list"></i>
                    <p>
                        Listas
                        <i class="right fas fa-angle-right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview bg-dark">
                    <li class="nav-item">
                        <a href="/client/list" class="nav-link">
                            <i class="nav-icon fas fa-users"></i>
                            <p>Listar clientes</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/user/list" class="nav-link">
                            <i class="nav-icon fas fa-user-tie"></i>
                            <p>Listar usuários</p>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>